SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1209", GROUP="plugdev", TAG+="uaccess"
